name: PKHeX-Build
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x
      - run: dotnet restore PKHeX.sln
      - run: dotnet build PKHeX.sln --configuration Release --no-restore
      - run: dotnet publish PKHeX.WinForms/PKHeX.WinForms.csproj -c Release -o ./publish
      - uses: actions/upload-artifact@v4
        with:
          name: PKHeX-ALL-IN-ONE
          path: ./publish/
